/* CSS Document 
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro|Oswald);
*/

/****************************************/
/* Styling rules, such as font and colors */
.date-as-calendar {
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  /* font-family: "Helvetica", "Arial", sans-serif; */
  font-family: 'Chakra Petch', sans-serif;

  /* It seems vertical-align: baseline does not work correctly with display: inline-flex. */
  vertical-align: top;
  /* margin: 1ex; */
	
  color: black;
  background: white;
 /* background : linear-gradient(to bottom right, #FFF 0%, #EEE 100%);*/
  border: 1px solid #888;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 2px 2px 2px -2px black;
}
.date-as-calendar .weekday,
.date-as-calendar .day,
.date-as-calendar .month,
.date-as-calendar .year {
  text-align: center;
}
.date-as-calendar .month {
  /* font-family: "Oswald", sans-serif; */
  font-family: 'Chakra Petch', sans-serif;
  text-transform: uppercase;
  background: #da5ca3;
  /*background : linear-gradient(to bottom right, #da5ca3 0%, #A00 100%);*/
  color: white;
  padding: 8px;
}

/****************************************/
/* Layout rules using display: inline-flex and relative dimensions using em. */
.inline-flex.date-as-calendar {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 4em; 
  height: 5em; 
}
.inline-flex.date-as-calendar .weekday,
.inline-flex.date-as-calendar .day,
.inline-flex.date-as-calendar .month,
.inline-flex.date-as-calendar .year {
  display: block;
  flex: 1 1 auto;
}
.inline-flex.date-as-calendar .month {
  order: 1;
  font-size: 0.75em;
  padding: 0.1em 0;
}
.inline-flex.date-as-calendar .weekday {
  order: 2;
  font-size: 0.6125em;
}
.inline-flex.date-as-calendar .day {
  order: 3;
	padding-top: 5px;
  font-size: 1.5em;
}
.inline-flex.date-as-calendar .year {
  order: 4;
  font-size: 0.87750em;
}

/****************************************/
/* Multiple sizes. */

.date-as-calendar.size1x {
  font-size: 16px;
}
